body, html {
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100%;
   color: #40013c;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
}

.color{
   position: absolute;
   z-index: 100%;
}
.c1{
   top: 0;
   left: 0;
   bottom: 0;
   background:  #06eeff;
   animation: color-width 8s ease-in-out infinite;
}
.c2{
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: #100f10;
   animation: color-height 8s ease-in-out infinite;
   animation-delay: 3s;
}

.c3{
   top: 0;
   right: 0;
   bottom: 0;
   background: #f6065e;
   animation: color-width 8s ease-in-out infinite;
   animation-delay: 3s;
}
.c4{
   left: 0;
   right: 0;
   bottom: 0;
   background: #fb4802;
   animation: color-height 8s ease-in-out infinite;
   animation-delay: 3s;
}
@keyframes color-width{
   0%{width: 0;}
   50%{width: 100%;}
   100%{width: 0%;}
}
@keyframes color-height{
   0%{height: 0;}
   50%{height: 100%;}
   100%{height: 0;}
}
.slides{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: auto; 
   background-position: center;
   background-size: cover;
   transition: all 2s;
   animation: slides1 20s ease-in-out alternate infinite;
}
@keyframes slides1{
   0%{
      background-position: left;
      animation-delay: 5s;
      zoom: 105%;
      background-image: url("escolar.png");
   }
   30%{
      background-image: url("div.png");
      background-position: right;
      animation-delay: 5s;
      opacity: 0.8;
      zoom: 105%;
   }
   40%{
      opacity: 1;
   }
   50%{
      opacity: 0.8;
   }
   60%{
      background-image: url("mulheres.png");
      opacity: 1;
      background-position: left;
      zoom: 105%;
   }
   70%{
      opacity: 0.8;
      transition-delay: 3s;
   }
   80%{
      opacity: 1;
   }
   100%{
      background-image: url("planejamento.png");
   }
}
.container-fluid {
   width: 100%;
}

.navbar {
   background-color: #454648;
}

.navbar-brand {
   font-weight: bold;
   color: #f4a2ee;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
